aspnet-core/src/QLKho_NCKH.Web.Mvc/appsettings.json
aspnet-core/src/QLKho_NCKH.Web.Mvc/appsettings.json
aspnet-core/src/QLKho_NCKH.Web.Mvc.Frontend/appsettings.json
aspnet-core/src/QLKho_NCKH.Web.Mvc.Frontend/appsettings.json
aspnet-core/src/QLKho_NCKH.Web.Mvc.Frontend/appsettings.json
aspnet-core/src/QLKho_NCKH.Migrator/appsettings.json
aspnet-core/src/QLKho_NCKH.Web.Host/appsettings.json
aspnet-core/src/QLKho_NCKH.Web.Mvc.Frontend/appsettings.json
aspnet-core/src/QLKho_NCKH.Web.Mvc/appsettings.json
/aspnet-core/src/QLKho_NCKH.Web.Mvc.Frontend/App_Data
/aspnet-core/src/QLKho_NCKH.Web.Mvc/App_Data
