aspnet-core/src/QLKho_NCKH.Web.Mvc/App_Data/Logs/Logs.txt
aspnet-core/src/QLKho_NCKH.Web.Mvc/appsettings.json
/aspnet-core/src/QLKho_NCKH.Web.Mvc/App_Data/Logs
/aspnet-core/src/QLKho_NCKH.Web.Mvc/App_Data/Logs
/aspnet-core/src/QLKho_NCKH.Web.Mvc/App_Data/Logs
/aspnet-core/src/QLKho_NCKH.Web.Mvc/App_Data/Logs
aspnet-core/src/QLKho_NCKH.Web.Mvc/appsettings.json
