@using QLKho_NCKH.EnumCustom
<div class="abp-advanced-search">
  <form id="StockTransactionSearchForm" class="form-horizontal">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <button id="SearchButton" type="button" class="btn bg-blue btn-search">
              <span class="fas fa-search" aria-hidden="true"></span>
            </button>
          </div>
          <input type="text" name="Filter" class="form-control txt-search" placeholder="@L("SearchPlaceholder")" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <select name="Status" class="form-control select2">
            <option value="">@L("AllStatuses")</option>
            @foreach (var status in Enum.GetValues(typeof(TransactionStatusEnum)))
            {
              <option value="@((int)status)">@L(status.ToString())</option>
            }
          </select>
        </div>
      </div>
    </div>
  </form>
</div>

<style>
  .select2 {
    width: 100% !important;
  }
</style>